In [2]:
import pandas as pnd
df_data = pnd.read_csv("train_data.csv")
df_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,26,student,single,high.school,no,no,no,telephone,jun,mon,901,1,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1
1,46,admin.,married,university.degree,no,yes,no,cellular,aug,tue,208,2,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
2,49,blue-collar,married,basic.4y,unknown,yes,yes,telephone,jun,tue,131,5,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1
3,31,technician,married,university.degree,no,no,no,cellular,jul,tue,404,1,999,0,nonexistent,-2.9,92.469,-33.6,1.044,5076.2
4,42,housemaid,married,university.degree,no,yes,no,telephone,nov,mon,85,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8

In [3]:
y = pnd.read_csv('train_target.csv',header = None).values.ravel()
y

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [5]:
df_cat = pnd.get_dummies(df_data,['job','education','marital','default','housing','loan','contact','month','day_of_week',
                                  'poutcome'])

In [6]:
list(df_cat.columns).index('default_yes')

36